<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

</style>
</head>
<body>
    <div class="container">
        <h1>Payment Successful 😊</h1>
        <p>Your payment for the course has been processed successfully.</p>
        <p>Thank you for your purchase! 🎉</p>
        <a href="/student_dashboard">Return to Student Dashboard</a>
    </div>
</body>
</html>
